<h6>Markham Notification</h6>
{{.TodayDate}}
<br/>
<br/>
<h3>Electronic Fund Transfer </h3>
<em>ATTN</em>
<br/>{{.CustomerName}}
<br/>{{.Email}}
<br/>{{.BankAccountNumber}}
<br/><br/>
<p>
  <br/>TransferDate : {{.TransferDate}}
  <br/>TransferAmount : {{.TransferAmount}}
  <br/>PaymentReference : {{.PaymentReference}}

<p>